<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tell Your Story</title>
    <% include ./partials/head %>
  </head>
  <body>

    <div class="header">
      <% include ./partials/headers/header_index %>
    </div>


    <a href="/stories">Stories</a>
    <a href="/profile">User Profile</a>

    <% include ./partials/forms/login %>

    <% include ./partials/forms/signup %>


  </body>
</html>
