<div class="user-login">
  <form id="user-login-form">
    <div class="login-body">
      <input type="text" name="username" placeholder="User Name">
      <input type="password" name="password" placeholder="Password">
    </div>
      <br>
      <input type="submit" value="login" id="login-button" class="waves-effect waves-light light-blue btn">
    </form>
  <br>
  <br>
  <a class="modal-trigger" href="#user-signup-modal">Sign up for an account</a>
</div>
