<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/headers/header_about %>

    <h5 class="page-heading">About</h5>
    <div class="about">
      <p>
        StoryAnon is a new way to share your authentic, human experiences without the constraints of the usual social media structures.  When facing an audience we easily filter how we talk about ourselves.  We may alter our language or hide some aspects of ourselves because we know others are watching and listening.  Likely we do this because the audience is composed of people we know.  Maybe we have a reputation to keep up.  Maybe you are sharing yourself with multiple streams in your life- family, work, friends.  What is appropriate for one group may not be appropriate for another.
      </p>
      <p>
        In the StoryAnon community, you are allowed to share who you are in every way that you are without fear of how others will think or say about you.  When you tell your story, you do so with no name attached to it.  And you are encouraged to tell the whole story.  In fact, stories told on the main board are required to be 150 words or more.  Here, you can more fully explore the richness of your experience, your story, through writing that others can read, but not comment on, like, or share outside of StoryAnon.  How unsocial, right?  Well, actually it's the opposite.  Because there is something quite valuable in sharing yourself effortlessly, safely, and confidently.
      </p>
      <p>
        StoryAnon is as open as you are.  It's as honest as you are.  It's as real as you are.
      </p>
      <p>
        What story do you have to tell?
      </p>
    </div>


  </body>
</html>
